# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Environment files
.env

# LinkedIn session file
.li_session

# LinkedIn Post Links Data Folder
li_post_links_csv/

# Data files
*.csv
*.pkl
*.json
*.xls
*.xlsx
*.pdf
*.doc
*.docx
*.png

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Other
.DS_Store
Thumbs.db
